$primaryColor: #f34f3f;
$seconderColor: #fff;
$thirdColor: #000;
$primaryTextColor: #2b2b2b;
$seconderyTextColor: #737373;
$fourColor: #f7f7f7;
$footerColor: #fefaf3;



$aboutTitleColor: #0e0e0e;



